name: Build and Push Docker Image

# Срабатывает при пуше в main и при ручном запуске
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Устанавливаем JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      # 3. Сборка jar через Maven
      - name: Build jar with Maven
        run: mvn clean package -DskipTests

      # 4. Логинимся в Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 5. Строим Docker image
      - name: Build Docker image
        run: |
          docker build \
            --build-arg JAR_FILE=target/youtubelizer.jar \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/youtubelizer:latest .

      # 6. Пушим Docker image на Docker Hub
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/y_
